<nav class="navigation">
  <div class="nav-header">
    <h2>一起学</h2>
  </div>
  <ul class="nav-list">
    <% navigation.items.forEach(function(item) { %>
      <li class="nav-item">
        <a href="<%= item.url %>" class="nav-link <%= item.active ? 'active' : '' %>">
          <%= item.title %>
        </a>
        <% if (item.subitems && item.subitems.length > 0) { %>
          <ul class="sub-nav">
            <% item.subitems.forEach(function(subitem) { %>
              <li class="sub-nav-item">
                <a href="<%= subitem.url %>" class="sub-nav-link <%= subitem.active ? 'active' : '' %>">
                  <%= subitem.title %>
                </a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
    <li class="nav-item contact-item">
      <a href="mailto:justdoit@letsdoit.today" class="nav-link contact-link">
        联系我
      </a>
    </li>
  </ul>
</nav>